.popup {
    width: 100%;
    height: 100%;
    /* display: none; */
    background-color: rgba(0, 0, 0, .5);
    position: fixed;
    top: 0;
    right: 0;
    visibility: hidden;
opacity: 0;
transition: visibility 0.2s, opacity ease 0.2s;
}

