.profile__person {
    max-width: 486px;
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 640px){
    .profile__person {
        display: block;
        margin: 0 auto;
    }
}