.popup__container {
    width: 470px;
    margin: auto;
    position: absolute;
    top: 16.5%;
    right: 50%;
    transform: translate(50%, 0);
    z-index: 2;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    gap: 8px;
    grid-template-areas: 
    '. close'
    'container .';
}

@media screen and (max-width: 640px) {
    .popup__container {
        width: 282px;
        grid-template-areas:
        '. close'
        'container container';
        gap: 16px;
    }
}