.popup__container {
    width: 430px;
    margin: auto;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    z-index: 2;
    position: relative;
}

@media screen and (max-width: 640px) {
    .popup__container {
        width: 282px;
    }
}