.element__btn-like {
    background-image: url(../../../images/elements_heart.svg);
    background-size: contain;
    background-color: rgba(0,0,0,0);
    background-repeat: no-repeat;
    background-position: center;
    border: 0;
    width: 22px;
    height: 19px;
    cursor: pointer;
    transition: opacity 1s ease;
}

.element__btn-like:hover {
    opacity: .5;
}