.profile__edit {
    margin: auto 0 7px;
    width: 24px;
    height: 24px;
    cursor: pointer;
    transition: opacity 1s ease;
    background-image: url(../../../images/profile_edit.svg);
    background-color: rgba(0,0,0,0);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border: 0;
    grid-area: edit;
}

.profile__edit:hover {
    opacity: .6;
}

@media screen and (max-width: 640px) {
    .profile__edit {
        width: 18px;
    }
}