.popup__input-error {
    font-size: 12px;
    line-height: 15px;
    font-weight: 400;
    color: red;
    opacity: 0;
    position: absolute;
    top: calc(100% + 5px);
    left: 0;
    transition: 0.3s;
}