.popup__save {
    width: 100%;
    height: 50px;
    background-color: #000;
    color: #fff;
    border-radius: 2px;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    transition: opacity ease 1s;
    cursor: pointer;
}

.popup__save:hover {
    opacity: 0.8;
}

@media screen and (max-width: 640px) {
    .popup__save {
        font-size: 14px;
        line-height: 17px;
    }
}