.header {
    max-width: 880px;
    width: calc(100% * 880/1280);
    margin: 0 auto;
    padding: 45px 0 20px;
}

.header__logo {
    width: 142px;
}

.header__line {
    width: 100%;
    color: #545454;
    margin-top: 41px;
    opacity: 0.7;
}