.header {
    max-width: 880px;
    width: calc(100% * 880/1280);
    margin: 0 auto;
    padding: 40px 0 40px;
    border-bottom: 1px solid rgba(84, 84, 84, .7);
}

@media screen and (max-width: 1080px) {
    .header {
        width: 90%;
    }
}

@media screen and (max-width: 640px) {
    .header {
        padding: 28px 0;
        width: 100%;
    }
}
