.footer__author {
    margin: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #545454;
}

@media screen and (max-width: 640px) {
    .footer__author {
        font-size: 14px;
        line-height: 17px;
        margin-left: 4px;
    }
}