.popup__form {
    grid-area: container;
    max-width: calc(430px - 36px - 36px);
    width: 100%;
    height: calc(330px - 34px - 37px);
    background-color: #fff;
    border-radius: 10px;
    color: #000;
    padding: 34px 36px 37px;
}

@media screen and (max-width: 640px) {
    .popup__form {
        width: calc(100% - 22px - 22px);
        padding: 25px 22px;
    }
}