.elements {
    padding: 30px 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 17px;
    row-gap: 20px;
}

@media screen and (max-width: 1279px) {
    .elements {
        grid-template-columns: repeat(2, 1fr);
    }
}
