.elements {
    padding: 30px 0 0 0;
    min-height: 61vh;
    width: 100%;
    list-style-type: none;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 17px;
    row-gap: 20px;
}

@media screen and (max-width: 1279px) {
    .elements {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 640px) {
    .elements {
        padding-top: 16px;
        width: 282px;
        margin: 0 auto;
        grid-template-columns: repeat(1, 282px);
    }
}