.profile__container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 640px) {
    .profile__container { 
        width: calc(100% *217/282);
        justify-content: start;
        margin-left: 25%
    }
}

@media screen and (max-width: 340px) {
    .profile__container { 
        width: calc(100% *217/282);
        justify-content: start;
        margin-left: calc(100% * 46/282);
    }
}