.profile__container {
    width: 100%;
    display: grid;
    justify-content: start;
    align-items: center;
    grid-column-gap: 18px;
    grid-row-gap: 16px;
    grid-template-columns: auto 24px;
    grid-template-areas: 
    'name edit'
    'job job';
}

@media screen and (max-width: 640px) {
    .profile__container { 
        width: 100%;
        margin: 0 auto;
        grid-template-columns: auto 37px;
        justify-content: center;
        grid-row-gap: 10px;
    }
}
