.profile__name {
    margin: 0;
    font-weight: 500;
    font-size: 42px;
    line-height: 1.13;
    letter-spacing: 0.05em;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media screen and (max-width: 1080px) {
    .profile__name {
        font-size: 4vw;
    }
}

@media screen and (max-width: 640px) {
    .profile__name {
        font-size: 27px;
        line-height: 33px;
    }
}

