.element__btn-trash {
    border: 0;
    position: absolute;
    top: 20px;
    right: 20px;
    background-image: url(../../../images/elements_trash.svg);
    width: 18px;
    height: 19px;
    background-color: transparent;
    transition: opacity 1s ease;
    cursor: pointer;
}

.element__btn-trash:hover {
    opacity: .6;
}