.popup__btn-close {
    grid-area: close;
    width: 32px;
    height: 32px;
    cursor: pointer;
    transition: opacity 1s ease;
    background-image: url(../../../images/edit_close.svg);
    background-size: contain;
    background-color: transparent; 
    border: 0;
}

.popup__btn-close:hover {
    opacity: .6;
}

@media screen and (max-width: 640px) {
    .popup__btn-close {
        width: 20px;
        height: 20px;
    }
}