.popup__btn-close {
    position: absolute;
    right: -40px;
    top: -40px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    transition: opacity 1s ease;
    background-image: url(../../../images/edit_close.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
    border: 0;
}

.popup__btn-close:hover {
    opacity: .6;
}

@media screen and (max-width: 640px) {
    .popup__btn-close {
        right: 0;
        width: 20px;
        height: 20px;
        right: 0;
        top: -36px;
    }
}
