.edit {
    max-width: 470px;
    width: 54%;
    margin: auto;
    display: grid;
    grid-template-columns: auto 32px;
    grid-template-rows: 32px auto;
    gap: 8px;
    grid-template-areas: 
    '. close'
    'container .';
}

.edit__close {
    grid-area: close;
    width: 32px;
}

.edit__container {
    grid-area: container;
    max-width: calc(430px - 36px - 36px);
    width: 100%;
    height: calc(330px - 34px - 37px);
    background-color: #fff;
    border-radius: 10px;
    color: #000;
    padding: 34px 36px 37px;}

.edit__title{
    margin: 0 0 54px;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
}

.edit__input {
    width: 100%;
    border: 0;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(0,0,0, .2) ;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}

.edit__input-job {
    margin: 30px 0 48px;
}

.edit__save {
    width: 100%;
    height: 50px;
    background-color: #000;
    color: #fff;
    border-radius: 2px;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
}