.profile__info {
    width: calc(100%* 336/486);
    align-items: center;
    column-gap: 16px;
}

@media screen and (max-width: 640px){
    .profile__info {
        width: 100%;
        margin: 23px auto 32px;
    }
}