.element {
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    color: #000;
    position: relative;
    height: 361px;
}

@media screen and (max-width: 1279px) {
    .element:nth-child(odd) {
        margin:0 0 0 auto;
    }
}
