.popup__title{
    margin: 0 0 24px;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
}

@media screen and (max-width: 640px) {
    .popup__title {
        font-size: 17px;
        line-height: 22px;
        margin-bottom: 75px;
    }
}