.profile__job {
    margin: 10px 0 0 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
}

@media screen and (max-width: 1080px) {
    .profile__job { 
        font-size: 2.5vw;
    }
}

@media screen and (max-width: 640px){
    .profile__job {
        font-size: 14px;
        line-height: 17px;
        margin-top: 7px;
        letter-spacing: 0.02em;
    }
}