.profile__job {
    width: 100%;
    margin: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    grid-area: job;
}

@media screen and (max-width: 1080px) {
    .profile__job { 
        font-size: 2.5vw;
    }
}

@media screen and (max-width: 640px) {
    .profile__job {
        margin: 0 auto;
        font-size: 14px;
        line-height: 17px;
    }
}